<section class="bg-body-tertiary mt-5">
  <div class="container">
    <p>
      <span class="fw-bold">
        {{ totalClients() }}
      </span>
      Clientes Encontrados
    </p>
    <div class="row">
      @for (client of clients(); track client.id) {
      <div class="col-12 col-md-6 col-lg-4 mb-3 text-center">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">{{ client.name }}</h5>
            <p class="card-text">
              Salário: {{ client.salary | currency : "BRL" }}
            </p>
            <p class="card-text">
              Empresa: {{ client.companyValuation | currency : "BRL" }}
            </p>
          </div>
        </div>
      </div>
      }
    </div>
    <button
      type="button"
      (click)="onCreateClient()"
      class="btn btn-outline-primary col-12 mt-3"
    >
      Criar Cliente
    </button>

    <!-- Paginação -->
    <div class="d-flex justify-content-center mt-3">
      @for (page of pages; track page) {
      <button
        (click)="goToPage(page)"
        [class.active]="currentPage() === page"
        class="btn btn-outline-primary mx-1"
      >
        {{ page }}
      </button>
      }
    </div>
  </div>
</section>
