<section
  class="d-flex flex-column justify-content-center align-items-center vh-100"
>
  <h2>Olá, seja bem-vindo!</h2>
  <form [formGroup]="loginForm">
    <div class="form-floating mb-3">
      <input
        style="width: 300px"
        type="text"
        class="form-control"
        id="floatingInput"
        formControlName="username"
        placeholder="Digite seu nome"
      />
      <label for="floatingInput">Digite seu nome</label>
    </div>
    <button
      [disabled]="loginForm.invalid"
      (click)="onLogin()"
      type="button"
      class="btn btn-primary col-12"
    >
      Entrar
    </button>
  </form>
</section>
